/* Latin Modern Roman */
@font-face {
    font-display: swap;
    font-family: 'Latin Modern Roman';
    font-style: normal;
    font-weight: bold;
    src: url('../../fonts/lmroman-bold.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Latin Modern Roman';
    font-style: normal;
    font-weight: normal;
    src: url('../../fonts/lmroman-normal.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Latin Modern Roman';
    font-style: italic;
    font-weight: bold;
    src: url('../../fonts/lmroman-bolditalic.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Latin Modern Roman';
    font-style: italic;
    font-weight: normal;
    src: url('../../fonts/lmroman-italic.woff') format('woff');
}

/* Source Code Pro */
@font-face {
    font-display: swap;
    font-family: 'SourceCodePro';
    font-style: normal;
    font-weight: normal;
    src: url('../../fonts/SourceCodePro-Regular.ttf');
}

/* Songti */
/* @font-face {
    font-display: swap;
    font-family: 'Songti';
    font-style: normal;
    font-weight: bolder;
    src: url('../../fonts/Songti_SC_Black.ttf');
} */

@font-face {
    font-display: swap;
    font-family: 'Songti';
    font-style: normal;
    font-weight: bold;
    src: url('../../fonts/Songti_SC_Bold.woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Songti';
    font-style: normal;
    font-weight: normal;
    src: url('../../fonts/Songti_SC_Regular.woff2');
}

/* @font-face {
    font-display: swap;
    font-family: 'Songti';
    font-style: normal;
    font-weight: lighter;
    src: url('../../fonts/Songti_SC_Light.ttf');
} */

