
@import "fonts";

.main {
    position: relative;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    max-width: calc(var(--main-width) + var(--gap) * 2);
    margin: auto;
    padding: var(--gap);
	font-family: "Latin Modern Roman", "Songti", serif;
}

.page-header h1 {
    font-size: 40px;
}

.pagination {
    display: flex;
}

.pagination a {
    color: var(--theme);
    font-size: 13px;
    line-height: 36px;
    background: var(--primary);
    border-radius: calc(36px / 2);
    padding: 0 16px;
}

.pagination .next {
    margin-inline-start: auto;
}


.social-icons a {
    display: inline-flex;
    padding: 10px;
}

.social-icons a svg {
    height: 26px;
    width: 26px;
}

/* 代码块 */
code {
    direction: ltr;
    font-family: "SourceCodePro", monospace;
}

div.highlight,
pre {
    position: relative;
}

/* 代码复制 */
.copy-code {
    display: none;
    position: absolute;
    top: 4px;
    right: 4px;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(78, 78, 78, 0.8);
    border-radius: var(--radius);
    padding: 0 5px;
    font-size: 14px;
    user-select: none;
}

div.highlight:hover .copy-code,
pre:hover .copy-code {
    display: block;
}

/* 左侧侧边栏 blank */
.sidebar {
	position: fixed;
	top: 40px;

	height: 90%;
	width: 25%;


	text-align: right;

	display: flex;
	flex-direction: column;
}

.sidebar-title {
	padding-right: 40px;
}

.sidebar-title > a {
	font-family: "Latin Modern Roman", "Songti", serif;
	font-weight: 600;
	font-size: 2rem;
}

.sidebar-items {
	display: flex;
	flex-direction: column;
	padding-top: 25px;

	font-size: 1.2rem;
	line-height: 2.7rem;
}

.sidebar-item {
	white-space: nowrap;
	padding-right: 40px;
}

.sidebar-item:hover{
	background: linear-gradient(to left, #f1f1f1, white);
	background-position: right;
}

.sidebar-icon {
	margin-right: 50px;
}

.dropdown-items {
	display: none;
}

.sidebar-footer{
	position: absolute;
	right: 0;
	bottom: 40px;
	padding-right: 40px;
	font-size: 0.8rem;
}

.en_name,
.zh_name {
	width: 75px;
	display: inline-block;
	text-align: center;
}

/* 右侧侧边栏 blank */
.rightbar-container {
	position: fixed;
	top: 40px;
	right: 0;

	width: 24%;
	height: 50%;
	overflow: auto;
}

.toc{
	margin-left: 40px;
	width: 80%;
	max-width: 350px;
	overflow-wrap: anywhere;
	padding-bottom: 10px;
	padding-left: 20px;

	box-sizing: border-box;
	border-radius: 7px;
	background-color: #f2f2f2;
    font-family: "Latin Modern Roman", “Songti”, serif;
}


.toc-title{
	text-align: center;
	padding-top: 10px;

	font-size: 1.2rem;
	font-weight: 600;
}

.toc-h2,
.toc-h3,
.toc-h4{
	padding-left: 20px;
}

.toc .active {
	font-weight: 600;
	text-decoration: underline;
}

